html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

nav.navbar {
	height: 70px;
	display: flex;
	width: 75%;
	margin: 0 auto;
}

nav.navbar > .navbar-brand > a, nav.navbar > .navbar-items > ul > li > a {
	margin: 0 24px;
	line-height: 70px;
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px solid transparent;
}

nav.navbar > .navbar-items > ul > li > a:hover {
	border-color: #000;
}

nav.navbar > .navbar-items > ul {
	list-style: none;
	display: flex;
	margin: 0;
}

main.onepage {
	height: calc(100% - 126px);
	display: flex;
	justify-content: center;
	align-items: center;
}

main.onepage > .container {
	width: 500px;
	text-align: center;
}

main.onepage > .container > h1, main.resources > .container > h1, main.onepage.contact > .container > h1 {
	font-weight: bold;
	font-size: 64px;
	margin: 0;
}

main.onepage > .container > p, main.resources > .container > p, main.onepage.contact > .container > p {
	margin: 0;
	font-weight: 100;
}

main.onepage > .container > hr, main.resources > .container > hr, main.onepage.contact > .container > hr {
	margin: 32px 0;
	border: 1px solid #aaa;
}

main.onepage > .container > a.getstarted {
	text-decoration: none;
	color: white;
	background: #000;
	padding: 16px 24px;
	border-radius: 8px;
	font-weight: bold;
}

footer {
	height: 40px;
	font-size: 16px;
	text-align: center;
}




main.resources > .container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

main.resources > .container > #resources > input#search {
	padding: 16px 24px;
	font-size: 18px;
	width: 75%;
}

main.resources > .container > #resources > button#sort {
	padding: 16px 24px;
	font-size: 18px;
	color: white;
	background: black;
	border: 0;
	cursor: pointer;
}

main.resources > .container > #resources > ul.list {
	margin-top: 32px;
}

main.resources > .container > #resources > ul.list > li {
	list-style: none;
	text-align: left;
	border-bottom: 1px solid #ddd;
	margin-bottom: 32px;
}

main.resources > .container > #resources > ul.list > li > h3 {
	margin: 0;
}



main.onepage.contact {
	display: block;
	width: 900px;
	margin: 0 auto;
	text-align: center;
}


main.onepage.contact > .container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

form#contact {
	width: 600px;
	margin: 0 auto;
}

form#contact > input, form#contact > textarea {
	padding: 12px 24px;
	font-size: 14px;
	width: 75%;
	margin-bottom: 32px;
}

form#contact > input#submit {
	color: white;
	background: #000;
	border: 0;
	cursor: pointer;
}